body{
	font-family: Arial;
	color: #343D46;
}
table{
	border-spacing:2px;
	border-color:black;
	background-color: #343D46;
}
td{
	width:1rem;
	height:1rem;
}
td:hover{
	cursor: pointer;
}
.controlItems{
	padding:1rem;
}
.trueElement{
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    background-color: #525980;
}
.falseElement{
    background-color: #FFFFFF;
}
.controls{
	font-size: 2rem;
}
.controls:hover{
	cursor: pointer;
}